<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basado en tu ultima visita</title>
</head>
<body>
    
    <div>
        <ul>
            <li><p><h1>Basado en tu ultima visita</h1></p></li>
        </ul>
        <br>
            <img src="../public/img-cafetera-moulinex.jpg">
            <p>imagen de cafetera</p>
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><h3> Cafetera Moulinex</h3></p>
        <br>
            <img src="../public/img-macbook-pro-2019.jpg">
            <p>imagen de Macbook</p>
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><h3>Macbook Pro 2019</h3></p>
        <br>
            <img src="../public/img-tv-samsung-smart.jpg">
            <p>imagen de SmartTv</p>
            <p>$23.200</p>
            <p>5% OFF</p>
            <p><h3>SmartTv Samsung 43</h3></p>
        <br>
            <img src="../public/img-samsung-galaxy-s10.jpg">
            <p>imagen de Samsumg Galaxy</p>
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><h3>Samsung Galaxy S10</h3></p>
    </div> 
    <a href="home.html" target="_blank">pagina principal</a>
</body>
</html>